body {
  color: #F1F1F1;
  background-color: #0F0F0F;
  font-size: 16px;
}

.domain-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 4px;

  img {
    width: 24px;
    height: 24px;
  }
}
